<% if !user_signed_in? %>
<div class="container">
  <div class="page-header">
    <h1>Rpg Name here</h1>
  </div>

  <div col="col-lg-12">
    <h3>Please <%= link_to "log in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to play!</h3>
  </div>
</div>

<% else %>
  <canvas class="game">
  <script>
    $(document).ready(window.initializeGame());
  </script>
<% end %>
